body {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #caf0f8;
    color : rgb(0, 29, 61);
    
}

p{
    /* color : rgba(0,0,0,0.7) */
    /* here 'a' from 'rgba' is an alpha value which controls transparency and it's value ranges from 0 to 1 */

    /* color : #0000ff; */
    /* 
    This is hex code of colour, range : #000000 to #FFFFFF
    contains '0 to 9' and 'A to F', we can also use pair if two values are same eg: #000000 -> #000 or #00ff00 -> 0f0
    */

    color : hsl(239, 94%, 19%);
    
    /* 
    hsl - hue, saturation, lighting

    hue - range[0,360]
    saturation - range[0, 100]
    lighting - range[0, 100]; 0 -> black and 100 -> white

    hsla - here a is alpha value, used to change transparency
    */
}
